// @import "../../Sass/styles.scss";
@import "../../styles/mixins.scss";

//Project Section styling

#proj {
    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        a {
            text-decoration: none;
        }

        div.card {
            background-color: #183d5d;
            margin: 30px;
            padding: 20px;
            width: 300px;
            height: 360px;
            box-shadow: 2px 9px 15px 1px rgba(52, 35, 35, 0.59);
            -webkit-box-shadow: 2px 9px 15px 1px rgba(0, 0, 0, 0.59);
            -moz-box-shadow: 2px 9px 15px 1px rgba(0, 0, 0, 0.59);

            &:hover {
                box-shadow: -1px 17px 17px 3px rgba(0, 0, 0, 0.61);
                -webkit-box-shadow: -1px 17px 17px 3px rgba(0, 0, 0, 0.61);
                -moz-box-shadow: -1px 17px 17px 3px rgba(0, 0, 0, 0.61);
                transition: 0.2s;
            }

            h3 {
                font-size: 2.6rem;
                font-family: "Catamaran", sans-serif;
                color: #ffffff;
                text-align: center;
                @include small {
                    font-size: 2rem;
                }
            }

            p {
                margin-top: 30px;
                font-size: 1.2rem;
                font-family: "Catamaran", sans-serif;
                color: rgb(252, 255, 255);
                width: 5px;

            }

            span {
                font-size: 0.8rem;
                font-family: "Acme", sans-serif;
                background-color: rgba(63, 62, 62, 0.59);
                color: rgba(68, 11, 11, 0.59);
                border-radius: 4px;
                padding: 5px;
                margin: 5px;
            }

            .tag {
                color: aqua;
                text-align: center;

            }
        }
    }
}

.mtop-5 {
    margin-top: -5rem;
}