// @import "../../Sass/styles.scss";
@import "../../styles/mixins.scss";

//Project Section styling
.container {
    overflow-x: auto;
    // margin-top: -37px;
    // margin-bottom: -40px;/
    margin-left: 60px;

}

.textPink {
    color: #ffffff;
    text-align: center;
    font-size: 4.0rem;
    margin-top: 2%;
    margin-bottom: 0%;
    // height: 72px;


}

section{
    margin-bottom: 0px;
    // margin-left: 12px;
}

#proj {
    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        overflow: 'auto';



        a {
            text-decoration: none;
        }

        div.card {
            background-color: #183d5d;
            margin: 30px;
            margin-bottom: 30px;
            padding: 15px;
            width: 300px;
            height: 350px;
            box-shadow: 2px 9px 15px 1px rgba(52, 35, 35, 0.59);
            -webkit-box-shadow: 2px 9px 15px 1px rgba(0, 0, 0, 0.59);
            -moz-box-shadow: 2px 9px 15px 1px rgba(0, 0, 0, 0.59);

            &:hover {
                box-shadow: -1px 17px 17px 3px rgba(0, 0, 0, 0.61);
                -webkit-box-shadow: -1px 17px 17px 3px rgba(0, 0, 0, 0.61);
                -moz-box-shadow: -1px 17px 17px 3px rgba(0, 0, 0, 0.61);
                transition: 0.2s;
            }

            h3 {
                font-size: 4.0rem;
                font-family: "Catamaran", sans-serif;
                color: #ffffff;
                // text-align: center;

                @include small {
                    font-size: 2rem;
                }
            }

            p {
                margin-top: 30px;
                font-size: 1.5rem;
                font-family: "Catamaran", sans-serif;
                color: rgb(252, 255, 255);
                align-items: center;
            }

            span {
                font-size: 1.2rem;
                font-family: "Acme", sans-serif;
                background-color: rgba(63, 62, 62, 0.59);
                color: rgba(68, 11, 11, 0.59);
                border-radius: 4px;
                padding: 5px;
                margin: 5px;
            }

            .tag {
                color: rgb(238, 248, 154);

            }
        }
    }
}

.mtop-5 {
    margin-top: -5rem;
}