//Mixins

@mixin grid($cols, $mgn) {
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn)) / $cols);

    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

@mixin extraLarge {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin large {
    @media (min-width: 991px) and (max-width: 1199px) {
        @content;
    }
}

@mixin medium {
    @media (min-width: 791px) and (max-width: 991px) {
        @content;
    }
}

@mixin small {
    @media (max-width: 791px) {
        @content;
    }
}