@import "../../styles/mixins.scss";
// Styling Skills card

#tools {
    position: absolute;
    right: 5%;
    top: 30%;
    transform: translateY(-26%);
    width: 35%;
    max-height: 90%;
    margin-left: 50px;
    text-align: center;
    animation: fadeIn 1s 4.4s backwards;

    margin-bottom: 20px;

    @include small {
        margin-left: 20%;
        overflow: auto;
    }


    .titleS {

        &:hover {
            animation: rubberBand 1s;
            color: #ffd700;
        }

        @include small {
            margin-left: 20%;
            // overflow: auto;
        }
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: auto;

        .item {
            margin: 10px;
            text-align: center;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;

                &:hover {
                    transform: scale(1.1);
                }

                @include small {
                    width: 65px;
                    height: 65px;
                }
            }

            @include small {
                margin: 13px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}

//for the text to display below image
.caption {
    display: block;
    font-family: 'sans-serif';
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;

    &:hover {
        animation: rubberBand 1s;
        color: #ffd700;
    }

}